html, body {
	font-family: 'Ubuntu', sans-serif;
	margin: 0;
	padding: 0;
	background: url(https://i.imgur.com/Kzyb3BE.gif)center center;
	/*background: url(https://i.imgur.com/zthrchM.gif) center center;*/
}

h2 {
	text-align: center;
}

.header {
	text-align: center;
	margin-top: 20;
	color: #e2ddd7;
}

.main {
	width: 60%;
	margin: auto;
	background: #b7afa7;
	opacity: 0.75;
	border-radius: 30px;
	padding: 20px;
	height: 80%;
}

.column {
	width: 49%;
	height: 100%;
	float: left;
}

#employee {
	border-right: 2px dashed red;
}

.container {
	margin: auto;
	width: 80%;
}